@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','san-serif';

}

body{
    line-height: 1.6;
   
}

h2{
    font-size: 36;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border :none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;

}

#search-button{
    padding: 10px 20px;
    background-color: rgb(68, 175, 68);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    font-size: 18px;
    color:aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.search-results{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    flex-wrap: wrap;
    
    max-width: 1200px;
    margin: 0 auto;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 6px 6px 30px rgb(0, 0, 0,0.3);

}

.search-result img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 6px 6px 30px rgb(0, 0, 0,0.3);
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
} 
.search-result:hover img{
    opacity: 0.8;
}

.search-result a{
    
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
#show-more-button{
   
    padding: 10px 20px;
    background-color: rgb(68, 134, 175);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    font-size: 18px;
    color:aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    display: block;
    display:none;

}

@media screen and (max-width:768px){
    .search-result{
        width: 45%;
    }
    .search-results{
        padding: 20px;
    }
    
}
@media screen and (max-width:480px){
    .search-result{
        width: 100%;
    }
    
}